<% title "Iniciar Sessión" %>
<div class="wrapper clearfix">
  <%= render "shared/common/leftpanel" %>
  <div class="content-right clearfix">
    <div class="content-main clearfix">
      <div class="content-title">
        <h2>Iniciar Sesión</h2>
      </div>
      <div class=".wrapp-box">
        <div class="two-columns">
          <div class="box-default rounder-all-five clearfix marginbottom">
            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form| %>
              <%= form.input :username, :autofocus => true, :input_html => {:class => "text"}, :label => "Usuario:" %>
              <%= form.input :password, :input_html => {:class => "text"}, :label => "Contraseña:" %>
              <%= content_tag :div, form.button(:submit, "Entrar"), :class => "btn-green floatright" %>
            <% end %>
          </div><!-- box-default rounder-all-five clearfix marginbottom END -->
        </div><!-- two-columns END -->
      </div><!--.wrapp-box END -->
    </div><!--.content-main END -->
    <%= render "shared/common/footer" %>
  </div><!--.content-right-->
</div><!--.wrapper-->