<% title "Iniciar Sessión" %>

<div class="wrapper clearfix">
  <%= render :partial => "shared/common/leftpanel", :layout => false %>
  <div class="content-right clearfix">
    <div class="content-main clearfix">
      <div class="content-title">
        <h2>Iniciar Sesión</h2>
      </div>
      <div class=".wrapp-box">
        <div class="two-columns">
          <div class="box-default rounder-all-five clearfix marginbottom">
            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form| %>
              <%= form.input :user_name, :autofocus => true, :input_html => {:class => "text"}, :label => "Usuario:" %>
              <%= form.input :password, :input_html => {:class => "text"}, :label => "Contraseña:" %>
              <%= form.input :remember_me, :as => :boolean, :label => "Recordarme" if devise_mapping.rememberable? %>
              <%= content_tag :div, form.button(:submit, "Entrar"), :class => "btn-green floatright" %>
            <% end %>
          </div><!-- box-default rounder-all-five clearfix marginbottom END -->
        </div><!-- two-columns END -->
      </div><!--.wrapp-box END -->
    </div><!--.content-main END -->
    <div class="footer">
      <p>Copyright © <%= Time.now.year %> A&Y. Todos los derechos reservados.</p>
    </div><!--footer-->
  </div><!--.content-right-->
</div><!--.wrapper-->