<table class="main-table aligncenter">
  <thead>
    <tr>
      <td><span>Código</span></td>
      <td><span>Valor</span></td>
      <td><span>Talla</span></td>
      <td><span>Referencia</span></td>
      <td><span>En Bodega</span></td>
    </tr>
  </thead>
  <tbody>
    <%= content_tag_for :tr, @articles do |article| %>
      <td>
        <%= link_to "", product_article_path(params[:product_id], article.id), class: "hidden" %>
        <%= content_tag :span, article.code %>
      </td>
      <td><%= content_tag :span, number_to_currency(article.price) %></td>
      <td><%= content_tag :span, article.size %></td>
      <td><%= content_tag :span, article.description %></td>
      <td><%= content_tag :span, article.in_stock %></td>
    <% end %>
  </tbody>
</table>
<div class="navigation">
  <%= content_tag :p, page_entries_info(@articles, entry_name: "Articulos") %>
  <%= paginate @articles %>
</div>