<% title "Artículo" %>
<div class="wrapper clearfix">
  <%= render "shared/common/leftpanel" %>  
  <div class="content-right clearfix">
    <div class="content-main clearfix">
      <div class="content-title">
        <h2>Detalles Del Producto</h2>
      </div>
      <div class="wrapp-box">
        <div class="box-default head-table">
          <ul class="details first-big clearfix">
            <li>
              <label><strong>ID:</strong></label>
              <%= content_tag :span, @product.id %>
            </li>
            <li>
              <label><strong>Nombre:</strong></label>
              <%= content_tag :span, @product.name.capitalize %>
            </li>
            <li>
              <label><strong>No. Artículos Asociados:</strong></label>
              <%= content_tag :span, @product.articles.count %>
            </li>
            <li>
              <label><strong>Creado En:</strong></label>
              <%= content_tag :span, formatted_time(@product.created_at) %>
            </li>
            <li>
              <label><strong>Actualizado En:</strong></label>
              <%= content_tag :span, formatted_time(@product.updated_at) %>
            </li>
          </ul>
        </div><!--.box-default-->
      </div><!--.wrapp-box-->
      
      <div class="content-title">
        <h2>Detalles Del Articulo</h2>
      </div>
      <div class="wrapp-box">
        <div class="box-default head-table">
          <ul class="details first-big clearfix">
            <li>
              <label><strong>ID:</strong></label>
              <%= content_tag :span, @article.id %>
            </li>
            <li>
              <label><strong>Código:</strong></label>
              <%= content_tag :span, @article.code %>
            </li>
            <li>
              <label><strong>Talla:</strong></label>
              <%= content_tag :span, @article.size %>
            </li>
            <li>
              <label><strong>Unidades Disponibles:</strong></label>
              <%= content_tag :span, @article.in_stock %>
            </li>
            <li>
              <label><strong>Valor:</strong></label>
              <%= content_tag :span, @article.price %>
            </li>
          </ul>
        </div><!--.box-default-->
        <div class="box-default box-bottom">
          <ul class="details first-big clearfix">
            <li class="more-width">
              <label><strong>Descripción del Artículo:</strong></label>
              <%= content_tag :span, @article.description %>
            </li>
            <li>
              <label><strong>Creado En:</strong></label>
              <%= content_tag :span, formatted_time(@article.created_at) %>
            </li>
            <li>
              <label><strong>Actualizado En:</strong></label>
              <%= content_tag :span, formatted_time(@product.updated_at) %>
            </li>
          </ul>
        </div><!--.box-default-->
      </div><!--.wrapp-box-->
      
      <div class="wrapp-box clearfix">
        <div class="two-columns floatleft box-summary">
          <h3 class="details">Product Value</h3>
          <div class="box-default rounder-all-five">
            <ul class="list-price clearfix">
              <li>
                <strong>Gross Value:</strong>
                <span>$999.999,99</span>
              </li>
              <li>
                <strong>Discount:</strong>
                <span>$999.999,99</span>
              </li>
              <li>
                <strong>Taxes:</strong>
                <span>$999.999,99</span>
              </li>
              <li>
                <strong>Fees:</strong>
                <span>$999.999,99</span>
              </li>
            </ul><!--.list-price-->
            <ul class="list-price net clearfix">
              <li>
                <strong>Net Value</strong>
                <span>$999.999,99</span>
              </li>
            </ul><!--.list-price-->
          </div><!--.box-default-->
        </div><!--.two-columns-->
        <div class="two-columns floatright box-summary">
          <h3 class="details">Product Value</h3>
          <table class="status-history">
            <tbody>
              <tr>
                <td>Date</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>22 / 12 /  2011 5:43pm</td>
                <td class="table-status initiated">Initiated</td>
              </tr>
              <tr>
                <td>22 / 12 /  2011 5:43pm</td>
                <td class="table-status pending">Pending</td>
              </tr>
              <tr>
                <td>22 / 12 /  2011 5:43pm</td>
                <td class="table-status approved">Approved</td>
              </tr>
              <tr>
                <td>22 / 12 /  2011 5:43pm</td>
                <td class="table-status canceled">Canceled</td>
              </tr>
            </tbody>
          </table>
        </div><!--.two-columns-->
      </div><!--.wrapp-box-->
      <%= link_to :back, class: "btn-back" do %>
        <%= content_tag :span, "" %> Regresar
      <% end %>
    </div><!--.content-main-->
    <%= render "shared/common/footer" %>
  </div><!--.content-right-->
</div><!--.wrapper-->