<div class="box-default clearfix head-table box-app">
  <%= search_form_for @search do |form| %>
    <div class="four-fieldset clearfix">
      <fieldset>
        <%= form.label :username_cont, "Usuário:" %>
        <%= form.text_field :username_cont, class: :text %>
      </fieldset>
      <fieldset>
        <%= form.label :email_cont, "Email:" %>
        <%= form.text_field :email_cont, class: :text %>
      </fieldset>
      <fieldset class="btn-alone last">
        <%= content_tag :div, form.submit("Buscar", value: nil), class: "btn-green" %>
      </fieldset>
    </div><!--.box-search-filter-->
  <% end %>
</div><!-- box-default clearfix head-table box-app END -->