<% title "Usuários" %>
<div class="wrapper clearfix">
  <%= render "shared/common/leftpanel" %>
  <div class="content-right clearfix">
    <div class="content-main clearfix">
      <div class="content-title">
        <%= content_tag :h2, "Listado De Usuarios", class: :floatleft %>
        <%= link_to content_tag(:span, "Crear Nuevo Usuário"), new_user_path , id: "form_for_new_button", class: "btn-blue-icon add floatright add-app" %>
      </div>
      <%= content_tag :div, "", class: "hidden box-default rounder-all-five marginbottom clearfix box-app", id: "form_for_html_render" %>
      <%= render "filter" %>
      <div id="site_render_html">
        <%= render "table" %>
      </div><!-- site_render_html END -->
    </div><!--.content-main END -->
    <%= render "shared/common/footer" %>
  </div><!-- content-right clearfix END -->
</div><!-- wrapper clearfix END -->
<% javascripts "validationForms" %>