<% title "Detalles del Usuário" %>
<div class="wrapper clearfix">
  <%= render "shared/common/leftpanel" %>
  <div class="content-right clearfix">
    <div class="content-main clearfix">
      <%= content_tag :div, class: "content-title"  do %>
        <%= content_tag :h2, "Detalles Del Usuário", class: "floatleft" %>
        <%= link_to "Editar", edit_user_path(@user.id), class: "btn-edit floatright", id: "form_for_edit_button" %>
      <% end %>
      <%= content_tag :div, "", class: "hidden box-default rounder-all-five marginbottom clearfix box-app", id: "form_for_html_render" %>
      <div class="wrapp-box">
        <div class="box-default head-table">
          <ul class="details first-big clearfix">
            <li>
              <label><strong>Nombre Completo:</strong></label>
              <%= content_tag :span, @user.fullname %>
            </li>
            <li>
              <label><strong>Email:</strong></label>
              <%= content_tag :span, @user.email %>
            </li>
            <li>
              <label><strong>Nombre de Usuário:</strong></label>
              <%= content_tag :span, @user.username %>
            </li>
            <li>
              <label><strong>Role:</strong></label>
              <%= content_tag :span, @user.is_admin.eql?(true) ? "Administrador" : "Usuário" %>
            </li>
            <li>
              <label><strong>Creado En:</strong></label>
              <%= content_tag :span, formatted_time(@user.created_at) %>
            </li>
          </ul>
        </div><!--.box-default-->
        <div class="box-default box-bottom">
          <ul class="details first-big clearfix">
            <li>
              <label><strong>Estado Actual:</strong></label>
              <%= content_tag :span, icon_table_helper(:title, @user.status) %>
            </li>
          </ul>
        </div><!--.box-default-->
      </div><!--.wrapp-box-->
      
      <div class="wrapp-box clearfix">
        <div class="two-columns floatleft box-summary">
          <%= content_tag :h3, "Últimas Ventas Del Usuário", class: :details %>
          <table class="status-history">
            <tbody>
              <tr>
                <td>Fecha</td>
                <td>Total Venta</td>
              </tr>
              <%= content_tag_for :tr, @last_sales do |last_sale| %>
                <%= content_tag :td, formatted_time(last_sale.created_at) %>
                <%= content_tag :td, number_to_currency(last_sale.article_total_price) %>
              <% end %>
            </tbody>
          </table>
        </div><!--.two-columns-->
      </div><!--.wrapp-box-->
      <%= link_to users_path, class: "btn-back" do %>
        <%= content_tag :span, "" %> Regresar
      <% end %>
    </div><!--.content-main-->
    <%= render "shared/common/footer" %>
  </div><!--.content-right-->
</div><!-- wrapper clerarfix END -->
<% javascripts "validationForms" %>