<% title "Productos" %>

<div class="wrapper clearfix">
  <%= render "shared/common/leftpanel" %>
  <div class="content-right clearfix">
    <div class="content-main clearfix">
      <div class="content-title">
        <h2 class="floatleft">Listado De Productos</h2>
        <%= link_to content_tag(:span, "Crear Nuevo Producto"), new_product_path , id: "form_for_new_button", class: "btn-blue-icon add floatright add-app" %>
      </div>
      <div id="form_for_html_render" class="hidden box-default rounder-all-five marginbottom clearfix box-app">
      </div><!-- hidden box-default rounder-all-five marginbottom clearfix box-app END -->
      <%= render "filter" %>
      <div id="site_render_html">
        <%= render "table" %>
      </div><!-- site_render_html END -->
    </div><!--.content-main END -->
    <%= render "shared/common/footer" %>
  </div><!-- content-right clearfix END -->
</div><!-- wrapper clearfix END -->

<% javascripts "validationForms" %>