<%= simple_form_for @product, html: {id: "product_form"}, defaults: {input_html: {class: "text"}} do |form| %>
  <div class="four-fieldset clearfix">
    <%= form.input :code, label: "Productos:", collection: @products, prompt: "Elija un producto", input_html: {class: "skin-select"}, wrapper: nil %>
    <%= form.input :name, label: "Nombre del Producto:", placeholder: "O ingrese un nombre nuevo ...", input_html: {maxlength: 30}, wrapper_html: {class: "bigest"} %>
  </div><!--.four-fieldset-->
  <div class="four-fieldset clearfix more-separate cancel-save">
    <%= form.simple_fields_for :articles do |builder| %>
      <%= render "shared/common/article_fields", form: builder %>
    <% end %>
  </div><!--.four-fieldset-->
  <div class="cancel-save">
    <ul class="list-cancel">
      <li><%= content_tag :div, form.button(:submit, value: "Guardar Producto", id: "form_for_create_button"), class: "btn-green" %></li>
      <li><%= link_to "Cancelar", "javascript:void(0);", :class => "cancel-app", id: "form_for_cancel_button" %></li>
    </ul>
  </div>
<% end %>
