<%= simple_form_for :pepito, defaults: {input_html: {class: "text"}} do |form| %>
<div class="four-fieldset clearfix">
  <fieldset>
    <label>Productos:</label>
    <select class="skin-select">
      <option>New</option>
    </select>
  </fieldset>
  <%= form.input :name, label: "Nombre del Producto:", input_html: {maxlength: 30}, wrapper_html: {class: "bigest"} %>
</div><!--.four-fieldset-->
<div class="four-fieldset clearfix more-separate cancel-save">
  <%= form.input :size, label: "Talla:", input_html: {maxlength: 3} %>
  <%= form.input :in_stock, label: "Cantidad:", input_html: {maxlength: 4} %>
  <%= form.input :code, label: "Código:", input_html: {maxlength: 30}, wrapper_html: {class: "big last"} %>
</div><!--.four-fieldset-->
<div class="cancel-save">
  <ul class="list-cancel">
    <li><%= content_tag :div, form.button(:submit, value: "Guardar Producto"), class: "btn-green" %></li>
    <li><%= link_to "Cancelar", "javascript:void(0);", :class => "cancel-app", :id => "form_for_cancel_button" %></li>
  </ul>
</div>
<% end %>
