<table class="main-table aligncenter">
  <thead>
    <tr>
      <td><span>Código</span></td>
      <td><span>Vendedor</span></td>
      <td><span>Fecha</span></td>
      <td><span>No. de Artículos</span></td>
      <td><span>Total Venta</span></td>
    </tr>
  </thead>
  <tbody>
    <%= content_tag_for :tr, @sales do |sale| %>
      <td>
        <%= link_to "", sale_path(sale.id), class: "hidden" %>
        <%= content_tag :span, sale.id %>
      </td>
      <td><%= content_tag :span, sale.salesman %></td>
      <td><%= content_tag :span, formatted_time(sale.created_at) %></td>
      <td><%= content_tag :span, sale.transactions_by_status.count %></td>
      <td><%= content_tag :span, number_to_currency(sale.total_of_sale) %></td>
    <% end %>
  </tbody>
</table>
<div class="navigation">
  <%= content_tag :p, page_entries_info(@sales, entry_name: "Ventas") %>
  <%= paginate @sales %>
</div>