<% title "Nueva Venta" %>

<div class="wrapper clearfix">
  <%= render "shared/common/leftpanel" %>
  <div class="content-right clearfix">
    <div class="content-main clearfix">
      <div class="content-title">
        <h2 class="floatleft">Nueva Venta</h2>
      </div>
      <div class="box-default rounder-all-five marginbottom clearfix box-app">
        <%= simple_form_for @sale, html: {id: "sale_form"}, defaults: {input_html: {class: "text"}} do |form| %>
          <%= render "header_actions", form: form, class_div: "" %>
          <%= form.simple_fields_for :sale_transactions do |builder| %>
            <%= render "sale_transaction_fields", f: builder %>
          <% end %>
          <%= render "header_actions", form: form, class_div: "cancel-save"  %>
        <% end %>
      </div><!-- box-default rounder-all-five marginbottom clearfix box-app END -->
      <%= link_to :back, class: "btn-back" do %>
        <%= content_tag :span %> Atras
      <% end %>
    </div><!--.content-main END -->
    <%= render "shared/common/footer" %>
  </div><!-- content-right clearfix END -->
</div><!-- wrapper clearfix END -->

<% javascripts "saleAction" %>
