<table class="main-table aligncenter">
  <thead>
    <tr>
      <td><span>Fecha</span></td>
      <td><span>Producto</span></td>
      <td><span>Artículo</span></td>
      <td><span>No. de Artículos</span></td>
      <td><span>Total</span></td>
    </tr>
  </thead>
  <tbody>
    <%= content_tag_for :tr, @sale_transactions do |sale_transaction| %>
      <td><%= content_tag :span, formatted_time(sale_transaction.created_at) %></td>
      <td><%= content_tag :span, sale_transaction.product.name %></td>
      <td><%= content_tag :span, article_label(sale_transaction.article) %></td>
      <td><%= content_tag :span, sale_transaction.quantity_articles %></td>
      <td><%= content_tag :span, number_to_currency(sale_transaction.quantity_by_price) %></td>
    <% end %>
  </tbody>
</table>